.market-place {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  background-color: #f6f7f8;
  text-align: center;
}

.market-place-heading {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 0.188rem;
  text-transform: uppercase;
  text-align: center;
}
