table,
th,
td {
  border: 1px solid;
}
th {
  background-color: black;
  color: white;
}

.market-place-table {
  margin-left: 500px;
  width: 100%;
  border: 1px solid;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
